[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/plugins/start/black"]
	path = vim/pack/plugins/start/black
	url = https://github.com/psf/black.git
[submodule "vim/pack/plugins/start/fzf"]
	path = vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/plugins/start/nerdcommenter"]
	path = vim/pack/plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/plugins/start/python-mode"]
	path = vim/pack/plugins/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "vim/pack/plugins/start/quick-scope"]
	path = vim/pack/plugins/start/quick-scope
	url = https://github.com/unblevable/quick-scope.git
[submodule "vim/pack/plugins/start/tabular"]
	path = vim/pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/plugins/start/tagbar"]
	path = vim/pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "vim/pack/plugins/start/vim-autoformat"]
	path = vim/pack/plugins/start/vim-autoformat
	url = https://github.com/vim-autoformat/vim-autoformat.git
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/vim-signify"]
	path = vim/pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/pack/plugins/start/vim-lastplace"]
	path = vim/pack/plugins/start/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace.git
[submodule "vim/pack/plugins/start/vim-localvimrc"]
	path = vim/pack/plugins/start/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "vim/pack/plugins/start/vim-signature"]
	path = vim/pack/plugins/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "vim/pack/plugins/start/vim-polyglot"]
	path = vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/plugins/start/gundo"]
	path = vim/pack/plugins/start/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/plugins/start/YouCompleteMe"]
	path = vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim/fzf.vim"]
	path = vim/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
